@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #1e252b;
  color: white;
}

.newslist {
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin: 0 auto;
}

.newsItem {
  list-style: none;
  background-color: #262d34;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.mainPage {
  display: flex;
}

.leftMenu {
  margin: 1rem;
  padding: 1rem;
  width: 15vw;
  height: fit-content;
  background-color: #262d34;
  border-radius: 10px;
}

.rightMenu {
  margin: 1rem;
  padding: 2rem;
  width: 15vw;
  height: fit-content;
  background-color: #262d34;
  border-radius: 10px;
  font-weight: 100;
}

.header {
  margin: 1rem 0;
  height: 10vh;
  width: 100vw;
  background-color: #262d34;
}
